.Contactsection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Contactsection h1{
    max-width: 75%;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
    text-align: center;
    padding-bottom: 5rem;
}
.about {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.contentbx {
    padding: 2rem;
    width: 50%;
}

.imgbx2 {
    background: url(../assests/bg2.png);
    background-size: cover;
    background-position: center;
    width: 50%;
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 20px); }
    100%   { transform: translate(0, -0px); }   
}

.form{
    width: 100%;
}

.form .inputbx {
    margin-bottom: 3.5rem;
}

.form .inputbx input {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    border-bottom: 2px solid #fff;
    font-family: var(--font-family);
}

.form .inputbx input::placeholder {
    color: #fff;
}

.form .inputbx textarea {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    margin-top: 1rem;
    color: #fff;
    border-bottom: 2px solid #fff;
    min-height: 9rem;
}

.form .inputbx textarea::placeholder {
    color: #fff;
}
.form .inputbx input[type="submit"] {
    width: 150px;
    position: relative;
    background-color: #FF4820;
    border-radius: 1em;
    font-size: 16px;
    color: white;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; 
}

@media screen and (max-width: 1050px){
    .about {
        flex-direction: column-reverse;
    }
    .contentbx {
        padding: 2rem;
        width: 100%;
    }
    .imgbx2 {
        width: 100%;
    }
}

.form .inputbx input[type="submit"]:hover{
    transition-duration: 0.1s;
    background-color: #040404;
}
.form .inputbx input[type="submit"].after{
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

